@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$lato: 'Lato', sans-serif;
$globalPadding: 275px;
$dark: #424242;
$white: #FFFFFF;

body {
    margin: 0;
    width: 100%;
}
.header {
    display: flex;
    height: 85px;
    justify-content: space-between;
    padding-left: $globalPadding;
    padding-right: 276px;
}
.header img {
    width: 80px;
    margin: 0 0 0 21px;
}
.header nav {
    display: flex;
}
.nav {
    z-index: 2;
    display: flex;
    align-items: center;
    padding-left: 0;
    margin: auto 30px;
    &-item {
        list-style-type: none; 
    }
    &-link {
        text-decoration: none;
        font-family: $lato;
        font-size: 20px;
        color: #292929;
        transition: 0.2s;
    }
    &-link:hover { 
        color: #01996D;
    }
    &-btn {
        margin: 0 0 0 38px;
        padding: 13px 47px;
        font-family: $lato;
        font-size: 20px;
        text-decoration: none;
        color: $white;
        background: #01996D;
        border: 1px solid #01996D;
        box-sizing: border-box;
        border-radius: 4px;
        transition: 0.2s;
    }
    &-btn:hover { 
        background: rgb(53, 167, 110); 
    }
    &-btn:active {
        background: rgb(33,147,90);
        box-shadow: 0 3px rgb(33,147,90) inset;
      }
}
.headline {
    width: 440px;
    height: 384px;
    padding-left: $globalPadding;
    padding-top: 193px;
    &__text p {
        padding-top: 12px;
        line-height: 1.5;
        letter-spacing: 0px;
        font-size: 20px;
        color: #292929;
        font-family: $lato;
    }
    &-nav {
        padding-top: 57px;
    }
    &-btn {
        padding: 21px 45px;
        font-family: $lato;
        font-size: 19px;
        text-decoration: none;
        color: $white;
        background: #01996D;
        border: 1px solid #01996D;
        box-sizing: border-box;
        border-radius: 4px;
        transition: 0.2s;
    }
    &-btn:hover { 
        background: rgb(53, 167, 110); 
    }
    &-btn:active {
        background: rgb(33,147,90);
        box-shadow: 0 3px rgb(33,147,90) inset;
      }
}
.headline img {
    width: 410px;
    height: 128px;
}
.banner {
    position: absolute;
    top: 85px;
    background: url(../images/background.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 895px;
    z-index: 1;
}
.works h1 {
    font-family: $lato;
    font-weight: 500;
    color: $dark;
    padding-top: 100px;
    font-size: 23px;
}
.works {
    position: relative;
    padding-top: 60rem;
    padding-left: $globalPadding;
    &-text {
        position: absolute;
        width: 643px;
        right: 434px;
        margin-top: -150px;
    }
    &-item01 {
        position: relative;
        width: 255px;
        height: 225px;
    }
    &-text2 {
        position: absolute;
        width: 356px;
        height: 169px;
        left: 272px;
        top: 1534px;
    }
    &-image01 {
        position: absolute;
        top: 1763px;
        background: url(../images/block2/Rectangle1.png) no-repeat;
        background-size: cover;
        width: 369px;
        height: 492px;
        left: 273px;
    }
    &-item02 {
        position: relative;
        width: 255px;
        height: 225px;
    }
    &-text3 {
        position: absolute;
        width: 356px;
        height: 169px;
        left: 730px;
        top: 1821px;
    }
    &-image02 {
        position: absolute;
        top: 1967px;
        background: url(../images/block2/Rectangle2.png) no-repeat;
        background-size: cover;
        width: 369px;
        height: 492px;
        left: 729px;
    }
    &-item03 {
        position: relative;
        width: 255px;
        height: 225px;
    }
    &-text4 {
        position: absolute;
        width: 352px;
        left: 1188px;
        top: 1581px;
    }
    &-image03 {
        position: absolute;
        border-radius: 4px;
        top: 1765px;
        background: url(../images/block2/Rectangle3.png) no-repeat;
        background-size: cover;
        width: 369px;
        height: 492px;
        left: 1201px;
    }
}
.works img {
    padding-top: 11px;
    width: 536px;
    height: 128px;
}
.works p {
    font-weight: 500;
    line-height: 150%;
    font-size: 20px;
    font-family: $lato;
    color: $dark;
    margin-left: 69px;
}
.works-item01 img {
    width: 161px;
    height: 85px;
    padding-top: 139px;
}
.works-item01__personalize {
    position: absolute;
    left: 91px;
    top: 31px;
}
.works-text2 p {
    font-family: $lato;
    font-style: normal;
    font-weight: 500;
    font-size: 19.5px;
    line-height: 155%;
    color: $dark;
}
.works-item02 img {
    width: 163px;
    height: 81px;
    padding-top: 0;
    padding-left: 450px;
}
.works-item02__write {
    position: absolute;
    left: 91px;
    top: 25px;
}
.works-item03 img {
    width: 161px;
    height: 85px;
    padding-top: 0;
    padding-left: 894px;
}
.works-item03__alivio {
    position: absolute;
    left: 91px;
    top: 31px;
}
.about {
    position: absolute;
    width: 100%;
    height: 922px;
    left: 0;
    top: 2587px;
    background: #245852;
    &-headline {
        width: 547px;
        height: 384px;
        padding-left: $globalPadding;
        padding-top: 337px;
    }
    &-btn {
        padding: 13px 47px;
        font-family: $lato;
        font-size: 20px;
        text-decoration: none;
        color: $white;
        background: #01996D;
        border: 1px solid #01996D;
        box-sizing: border-box;
        border-radius: 4px;
        transition: 0.2s;
    }
    &-btn:hover { 
        background: rgb(53, 167, 110); 
    }
    &-btn:active {
        background: rgb(33,147,90);
        box-shadow: 0 3px rgb(33,147,90) inset;
    }
    &-img {
        position: absolute;
        border-radius: 32px;
        width: 712px;
        height: 457px;
        background: url(../images/block3/Rectangle.png) center no-repeat;
        left: 784px;
        top: 224px;
        margin-left: 96px;
    }
}
.about-headline p {
    font-family: $lato;
    font-weight: 500;
    font-size: 25px;
    line-height: 157%;
    color: $white;
    margin-bottom: 95px;
}
.about-img-play {
    position: relative;
    padding-left: 43%;
    padding-top: 24%;
}

.about2-headline2 p {
    font-family: $lato;
    font-weight: 500;
    font-size: 21px;
    line-height: 154%;
    color: #484848;
    margin-bottom: 40px;
}
.about2-img2-play2 {
    position: absolute;
    padding-left: 23%;
    margin-top: -396px;
}
.about2 {
    position: absolute;
    width: 100%;
    height: 876px;
    left: 0;
    top: 922px;
    &-headline2 {
        width: 566px;
        height: 384px;
        padding-left: 993px;
        padding-top: 160px;
    }
    &-btn2 {
        padding: 13px 47px;
        font-family: $lato;
        font-size: 20px;
        text-decoration: none;
        color: $white;
        background: #01996D;
        border: 1px solid #01996D;
        box-sizing: border-box;
        border-radius: 4px;
        transition: 0.2s;
    }
    &-btn2:hover { 
        background: rgb(53, 167, 110); 
    }
    &-btn2:active {
        background: rgb(33,147,90);
        box-shadow: 0 3px rgb(33,147,90) inset;
    }
    &-img2 {
        position: absolute;
        border-radius: 32px;
        width: 475px;
        height: 457px;
        background: rgba(1, 153, 109, 0.2);
        left: 320px;
        top: 155px;
        margin-left: 96px;
        z-index: 1;

    }
}
.about2-img2-play2 img {
    width: 343px;
}
.about2-headline2 h1 {
    font-family: $lato;
    font-weight: 500;
    color: $dark;
    font-size: 23px;
}
.card {
    position: absolute;
    padding-left: 290px;
    padding-top: 418px;
    z-index: 2;
    width: 296px;
}
.footer {
    position: relative;
    width: 100%;
    margin-top: 1057px;
    background-color:#245852;
    height: 654px;
    &-nav {
        padding-left: $globalPadding;
        display: flex;
        flex-direction: column-reverse;
        height: 69%;
        justify-content: space-between;
    }
   
    &-link {
        text-decoration: none;
        font-family: $lato;
        font-size: 20px;
        color: #FFFFFF;
        transition: 0.2s;
        
    }
    &-link:hover { 
        color: #01996D;
    }
}
.footer-nav-links {
    list-style-type: none;
    margin: 20px;
}
#footer-logo {
    padding-left: 61px;
    width: 112px;
    padding-top: 61px;
    margin-bottom: 30px;
}





